body{
    color: #005458;
    background-color: #c4f6ff;
    font-family: cursive;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bloco{
    background-color: cornsilk;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.4);
}

label{
    display: block;
    margin-bottom: 15px;
    color: rgb(99, 99, 99);
}

input[type="text"], 
input[type="email"],
input[type="tel"],
input[type="number"]
select,
textarea{
    width: 100px;
    padding: 8px;
    margin-bottom: 8px;
    border: 2px solid #ccc;
}

fieldset{
    border: 10px;
    border-radius: 4px;
    padding: 50px;
    margin-bottom: 20px;
}



input[type="radio"]{
    margin-right: 5px;
}

legend{
    padding: 0 10px;
    color: rgb(0, 87, 87);
    font-weight: bold;
}

.button {
    display: inline-block; /* Faz o link se comportar como um bloco de nível inline */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    background-color: #005458;
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    border-radius: 15px; /* Cantos arredondados */
    border: 1px solid #005458; /* Borda do botão */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição */
  }
  
  .button:hover {
    background-color: #09232b;
    color: #fff; /* Cor do texto quando o mouse passa sobre o botão */
  }