body {
    font-family: Arial, sans-serif;
    background-color: #c4f6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
a{
    padding:0;
    margin:0;
    font-family: cursive;
    }

.cadastro-container {
    background-color: rgb(162, 228, 156);
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    scroll-margin-right:70px ;
    font-family: cursive ;
    width: 500px;
}

.cadastro-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: cursive;
    color: #005475;

}
img{
    justify-content: space-between;
   float: center;
    height: 150px; 
    width: 150px ;
    margin-right: 10px;
 

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: cursive;
}

input[type="text"],
input[type="date"],
input[type="password"]
 {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid hsl(93, 74%, 82%);
    border-radius: 5px;
    box-sizing: border-box;
}
h1{
    color: #005475;
    font-family: cursive;

    }
    h3{
        color: #005475;
        font-family: cursive;

    }

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: cursive;
    text-decoration: none;
}

input[type="checkbox"] {
    display: none;
    font-family: cursive;
    text-decoration: none;
}

.checkbox-label {
    font-family: cursive;
    display: block;
    width: 48%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color:  #005458;
    text-decoration: none;
}

input[type="checkbox"]:checked + .checkbox-label {
    background-color:  #005458;
    color: white;
    font-family:cursive ;
    border-color:  #005458;
    text-decoration: none;
}

.button {
    display: inline-block; /* Faz o link se comportar como um bloco de nível inline */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    background-color: #005458;
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    border-radius: 15px; /* Cantos arredondados */
    border: 1px solid #005458; /* Borda do botão */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição */
  }
  
  .button:hover {
    background-color: #005458;
    color: #fff; /* Cor do texto quando o mouse passa sobre o botão */
  }
  