body{
    color: #005458;
    background-color: #c4f6ff;
    font-family: cursive;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0; 
}
th {
    background-color: #c4f6ff;
    color: #333; 
    padding: 18px; 
    text-align: left; 
    border-bottom: 2px solid #3e5592; 
}
td {
    padding: 3px; 
    background-color: #c4f6ff;
}
tr :hover {
    background-color: #43a5b6;
}

img{
    width: 550px; 
    height: auto;
    margin-right: 10px; 
}
.button {
    display: inline-block; /* Faz o link se comportar como um bloco de nível inline */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    background-color: #005458;
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    border-radius: 15px; /* Cantos arredondados */
    border: 1px solid #005458; /* Borda do botão */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição */
  }
  
  .button:hover {
    background-color: #09232b;
    color: #fff; /* Cor do texto quando o mouse passa sobre o botão */
  }